<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="spring.mvc.prozen_store.persistence.AccountDAO">

	<!-- 회계보고서 - 재무상태표 -->
	
	<!-- 회계보고서 - 손익계산서 -->
	
	<!-- 계좌 관리 - 계좌 리스트 -->
	
	<!-- 계정 관리 - 계정 리스트 -->
	
	<!-- 전표 관리 - 회계 전표 -->
	
	<!-- 전표 관리 - 급여 전표 -->
	
	<!-- 전표 관리 - 채권/채무 조회 -->

</mapper>