<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace = "com.project.UsERP.persistence.AdminDAO">
	
	<!-- 강재현 - 중복확인 처리 -->
	<select id = "idCheck" resultType = "int">
		SELECT COUNT(*) FROM employee WHERE emp_code = #{strId}
	</select>
	
	<!-- 강재현 - 로그인 처리 -->
	<select id = "pwdCheck" resultType = "String">
		SELECT emp_pwd FROM employee WHERE emp_code = #{strId}
	</select>
	
	<!-- 강재현 - 관리자 or 게스트 확인 -->
	<select id = "gradeCheck" resultType = "String">
		SELECT emp_authority FROM employee WHERE emp_code = #{emp_code}
	</select>
	
	<!-- 강재현 - 로그인 정보 처리 -->
	<select id = "readMember" resultType = "com.project.UsERP.vo.EmployeeVO">
		SELECT * FROM employee WHERE emp_code = #{str_id}
	</select>
	
	<!-- 조명재 - 회원 정보를 반환한다 -->
	<select id="getUsersInfo" resultType="com.project.UsERP.vo.EmployeeVO">
		SELECT * FROM employee WHERE emp_code = #{emp_code}
	</select>
	
	<!-- 김은희 - 내 정보 수정 처리 -->
	<update id="mypageUpdateAction" parameterType="java.util.Map">
		UPDATE employee SET emp_photo=#{emp_photo}, emp_jumin=#{emp_jumin}, emp_address=#{emp_address}, emp_tel=#{emp_tel}, emp_phone=#{emp_phone}, emp_email=#{emp_email}, emp_port_no=#{emp_port_no}, emp_account=#{emp_account}, hr_code=#{hr_code}, dep_code=#{dep_code}, emp_authority=#{emp_authority}, emp_bank=#{emp_bank}, emp_cos=#{emp_cos} WHERE emp_code=#{emp_code}
	</update>
	
	<!-- 조명재 - 비밀번호를 생성한다 -->
	<update id="signinPro" parameterType="String">
		UPDATE employee SET emp_pwd = #{emp_pwd}, emp_enabled = 1 WHERE emp_code = #{emp_code}
	</update>
	
</mapper>	
