<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace = "com.project.UsERP.persistence.AdminDAO">
	
	<resultMap id="AlertMap"
		type="com.project.UsERP.vo.AlertVO">
		<id property="alert_code" column="alert_code" />
		<result property="alert_state" column="alert_state" />
		<result property="alert_content" column="alert_content" />
		<result property="logs_code" column="logs_code" />
		<result property="accs_code" column="accs_code" />
		<result property="ss_code" column="ss_code" />
		<result property="dep_code" column="dep_code" />
		<association property="accountstatement"
			javaType="com.project.UsERP.vo.AccountStatementVO">
			<id property="accs_code" column="accs_code" />
			<result property="accs_type" column="accs_type" />
		</association>
		<association property="department"
			javaType="com.project.UsERP.vo.DepartmentVO">
			<id property="dep_code" column="dep_code" />
			<result property="dep_name" column="dep_name" />
		</association>
		<association property="logsisticsstatement"
			javaType="com.project.UsERP.vo.LogisticsStatementVO">
			<id property="logs_code" column="logs_code" />
			<result property="logs_type" column="logs_type" />
			<result property="logs_shortage" column="logs_shortage" />
			<result property="logs_state" column="logs_state" />
			<association property="product"
			javaType="com.project.UsERP.vo.ProductVO">
			<id property="pro_code" column="pro_code" />
			<result property="pro_name" column="pro_name" />
		</association>
		</association>
		<association property="salarystatement"
			javaType="com.project.UsERP.vo.SalaryStatementVO">
			<id property="ss_code" column="ss_code" />
			<result property="ss_state" column="ss_state" />
		</association>
	</resultMap>
	
	<!-- 강재현 - 중복확인 처리 -->
	<select id = "idCheck" resultType = "int">
		SELECT COUNT(*) FROM employee WHERE emp_code = #{strId}
	</select>
	
	<!-- 강재현 - 로그인 처리 -->
	<select id = "pwdCheck" resultType = "String">
		SELECT emp_pwd FROM employee WHERE emp_code = #{strId}
	</select>
	
	<!-- 강재현 - 관리자 or 게스트 확인 -->
	<select id = "gradeCheck" resultType = "String">
		SELECT emp_authority FROM employee WHERE emp_code = #{emp_code}
	</select>
	
	<!-- 강재현 - 로그인 정보 처리 -->
	<select id = "readMember" resultType = "com.project.UsERP.vo.EmployeeVO">
		SELECT * FROM employee WHERE emp_code = #{str_id}
	</select>
	
	<!-- 조명재 - 회원 정보를 반환한다 -->
	<select id="getUsersInfo" resultType="com.project.UsERP.vo.EmployeeVO">
		SELECT * FROM employee WHERE emp_code = #{emp_code}
	</select>
	
	<!-- 조명재 - 비밀번호를 생성한다 -->
	<update id="signinPro" parameterType="String">
		UPDATE employee SET emp_pwd = #{emp_pwd}, emp_enabled = 1 WHERE emp_code = #{emp_code}
	</update>
	
	<!-- 강재현 - 알림 -->
	<select id="accsAlertList" resultMap="AlertMap">
		SELECT a.*, d.dep_name, ac.accs_type  
		    FROM alert a, department d, account_statement ac
		    WHERE a.dep_code = d.dep_code
		    AND a.accs_code = ac.accs_code
		    AND alert_state = 0
		    ORDER BY alert_code DESC    
	</select>
	
	<!-- 강재현 - 알림 -->
	<select id="logsAlertList" resultMap="AlertMap">
		SELECT a.*, d.dep_name, l.logs_type, l.logs_state, l.logs_shortage, p.pro_name
		    FROM alert a, department d, logistics_statement l, product p
		    WHERE a.dep_code = d.dep_code
		    AND a.logs_code = l.logs_code
            AND l.pro_code = p.pro_code
		    AND alert_state = 0
		    ORDER BY alert_code DESC
	</select>
	
	<!-- 강재현 - 알림 -->
	<select id="ssAlertList" resultMap="AlertMap">
		SELECT a.*, d.dep_name
		    FROM alert a, department d, salary_statement ss
		    WHERE a.dep_code = d.dep_code
		    AND a.ss_code = ss.ss_code
		    AND alert_state = 0
		    ORDER BY alert_code DESC   
	</select>
	
	<!-- 강재현 - 알림 -->
	<select id="stAlertList" resultMap="AlertMap">
		SELECT a.*, d.dep_name
		    FROM alert a, department d
		    WHERE a.dep_code = d.dep_code
		    AND alert_state = 0
		    ORDER BY alert_code DESC 
	</select>
	
	<!-- 강재현 - 알림 업데이트 -->
	<update id="alertUpdate" parameterType="com.project.UsERP.vo.AlertVO">
		UPDATE alert SET alert_state=#{alert_state}
			WHERE alert_code = #{alert_code}
	</update>
	
	<!-- 알림 갯수 -->
	<select id="getCnt" resultType="int">
		SELECT COUNT(*) as cnt FROM alert WHERE alert_state = 0
	</select>
</mapper>	
