<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.UsERP.persistence.LdDAO">
	
	<!-- 재고VO resultMap -->
	<resultMap id="stockVOMap" type="com.project.UsERP.vo.StockVO">
		<id property="sto_code" column="sto_code" />
		<result property="sto_quantity" column="sto_quantity" />
		<result property="sto_type" column="sto_type" />
		<result property="sto_amount" column="sto_amount" />
		<result property="sto_state" column="sto_state" />
		<result property="sto_reg_date" column="sto_reg_date" />
		<result property="sto_content" column="sto_content" />
		<result property="sto_startwh" column="sto_startwh" />
		<result property="sto_arrivewh" column="sto_arrivewh" />
		<result property="ware_code" column="ware_code" />
		<result property="pro_code" column="pro_code" />
		<association property="warehouse" javaType="com.project.UsERP.vo.WarehouseVO">
			<id property="ware_code" column="ware_code" />
			<result property="ware_name" column="ware_name" />
			<result property="ware_location" column="ware_location" />
			<result property="ware_state" column="ware_state" />
		</association>
		<association property="product" javaType="com.project.UsERP.vo.ProductVO">
			<id property="pro_code" column="pro_code" />
			<result property="pro_name" column="pro_name" />
			<result property="pro_pur_price" column="pro_pur_price" />
			<result property="pro_sal_price" column="pro_sal_price" />
			<result property="pro_state" column="pro_state" />
			<result property="pro_reg_date" column="pro_reg_date" />
		</association>
	</resultMap>

	<!-- 양품창고 등록 -->
	<insert id="insertGoodWare" parameterType="com.project.UsERP.vo.WarehouseVO">
	INSERT INTO warehouse(ware_code, ware_name, ware_location, ware_state)
	VALUES (ware_good_seq.nextval, #{ware_name}, #{ware_location}, #{ware_state})
	</insert>
	
	<!-- 불량품창고 등록 -->
	<insert id="insertBadWare" parameterType="com.project.UsERP.vo.WarehouseVO">
	INSERT INTO warehouse(ware_code, ware_name, ware_location, ware_state)
	VALUES (ware_bad_seq.nextval, #{ware_name}, #{ware_location}, #{ware_state})
	</insert>
	
	<!-- 출고대기창고 등록 -->
	<insert id="insertWaitWare" parameterType="com.project.UsERP.vo.WarehouseVO">
	INSERT INTO warehouse(ware_code, ware_name, ware_location, ware_state)
	VALUES (ware_wait_seq.nextval, #{ware_name}, #{ware_location}, #{ware_state})
	</insert>
	
	<!-- 창고 목록 -->
	<select id="warehouseList" resultType="com.project.UsERP.vo.WarehouseVO">
		SELECT * FROM warehouse ORDER BY ware_code
	</select>
	
	<!-- 창고 상세 목록 -->
	<select id="warehouseDetail" resultType="com.project.UsERP.vo.WarehouseVO">
		SELECT * FROM warehouse WHERE ware_code = #{ware_code}
	</select>
	
	<!-- 거래처 갯수 구하기 -->
	<select id="getCompanyCnt" resultType="int" parameterType="String">
		SELECT COUNT(*) AS selectCnt 
		FROM company 
		WHERE com_code LIKE '%'||#{compKeyword}||'%' 
		OR com_name LIKE '%'||#{compKeyword}||'%'
	</select>
	
	
	<!-- 거래처 조회 -->
	<select id="CompanyList" parameterType="java.util.Map" resultType="com.project.UsERP.vo.CompanyVO">
		<![CDATA[
		SELECT *
			FROM (SELECT com_code, com_type, com_name, com_ceo_name,
						com_reg_no, com_address, com_reg_date, rownum rnum
    			FROM (SELECT * FROM company 
	    				WHERE com_code LIKE '%'||#{compKeyword}||'%' 
						OR com_name LIKE '%'||#{compKeyword}||'%'
	    				ORDER BY com_code))
    			WHERE rnum >= #{start} 
    			AND rnum <= #{end}
		]]>
	</select>
	
	<!-- 상품 갯수 -->
	<select id="getProductCnt" resultType="int" parameterType="String">
		SELECT count(*) as cnt FROM product
		WHERE pro_code LIKE '%'||#{proKeyword}||'%' 
		OR pro_name LIKE '%'||#{proKeyword}||'%'
	</select>
	
	<!-- 상품 조회 -->
	<select id="ProductList" resultType="com.project.UsERP.vo.ProductVO" parameterType="java.util.Map">
		<![CDATA[
			SELECT *
			FROM (SELECT pro_code, pro_name, pro_pur_price, pro_sal_price, 
						pro_state, pro_reg_date, rownum rnum
			    FROM (SELECT * FROM product 
					    WHERE pro_code LIKE '%'||#{proKeyword}||'%' 
						OR pro_name LIKE '%'||#{proKeyword}||'%'
					    ORDER BY pro_code))
			    WHERE rnum >= #{start} 
	  			AND rnum <= #{end}
		]]>
	</select>
	
	 <!-- 입고 미승인 전표 -->
	<select id = "purchasingCompanySelect" resultType = "com.project.UsERP.vo.CompanyVO">
		select * from company where comp_use_state = 1
	</select>
	
	<!-- 입고 승인 전표 -->
	<select id = "purchasingProductSelect" resultType = "com.project.UsERP.vo.ProductVO">
		select * from product
	</select> 
	
	<!-- 재고 현황 목록 -->
	<select id=""></select>
	
	
</mapper>
