<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.UsERP.persistence.SalesDAO">

	<!-- 기초 등록 판매 거래처 목록 -->
	<select id = "salesCompanySelect" resultType = "com.project.UsERP.vo.CompanyVO">
		select * from company where comp_use_state = 0
	</select>
	
	<!-- 기초 등록 상품 목록 -->
	<select id = "salesProductSelect" resultType = "com.project.UsERP.vo.ProductVO">
		select * from product
	</select>

	<!-- 판매,승인내역 -->
   <select id = "salesList" resultType = "com.project.UsERP.vo.SalesVO">
      select * from sales ORDER BY sales_code
   </select>
   
</mapper>