<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.UsERP.persistence.StDAO">

	<!-- 김민수 - 재고VO resultMap -->
	<resultMap id="stockVOMap" type="com.project.UsERP.vo.StockVO">
		<id property="sto_code" column="sto_code" />
		<result property="sto_quantity" column="sto_quantity" />
		<result property="sto_reg_date" column="sto_reg_date" />
		<result property="ware_code" column="ware_code" />
		<result property="pro_code" column="pro_code" />
		<association property="warehouse" javaType="com.project.UsERP.vo.WarehouseVO">
			<id property="ware_code" column="ware_code" />
			<result property="ware_name" column="ware_name" />
			<result property="ware_location" column="ware_location" />
			<result property="ware_state" column="ware_state" />
		</association>
		<association property="product" javaType="com.project.UsERP.vo.ProductVO">
			<id property="pro_code" column="pro_code" />
			<result property="pro_name" column="pro_name" />
			<result property="pro_pur_price" column="pro_pur_price" />
			<result property="pro_sal_price" column="pro_sal_price" />
			<result property="pro_state" column="pro_state" />
			<result property="pro_reg_date" column="pro_reg_date" />
		</association>
	</resultMap>

	<!-- 기초 등록 판매 거래처 목록 -->
	<select id = "salesCompanySelect" resultType = "com.project.UsERP.vo.CompanyVO">
		select * from company where comp_use_state = 0
	</select>
	
	<!-- 기초 등록 상품 목록 -->
	<select id = "salesProductSelect" resultType = "com.project.UsERP.vo.ProductVO">
		select * from product
	</select>

	<!-- 판매,승인내역 -->
   <select id = "salesList" resultType = "com.project.UsERP.vo.AccountStatementVO">
      select * from account_statement ORDER BY accs_code
   </select>
   
   <!-- 김민수 - 재고관리 - 재고 현황 갯수 -->
	<select id="getStockCnt" resultType="int">
		SELECT COUNT(*) as cnt
		FROM stock s,product p, warehouse w
		WHERE s.pro_code = p.pro_code
		AND s.ware_code = w.ware_code
		AND w.ware_state = 1
		AND p.pro_state = 1
		AND p.pro_name LIKE '%'||#{ssKeyword}||'%'
	</select>
	
	<!-- 김민수 - 재고관리 - 재고 현황 조회 -->
	<select id="StockStatusList" resultMap="stockVOMap" parameterType="java.util.Map">
		<![CDATA[
			SELECT * 
			FROM (SELECT sto_code, sto_quantity, sto_reg_date, ware_code, pro_code, ware_name, pro_name, 
        			pro_pur_price, pro_sal_price, pro_state, rownum rnum
			    FROM(SELECT s.*, w.ware_name, p.pro_name, p.pro_pur_price, 
            			p.pro_sal_price, p.pro_state
			        FROM stock s, warehouse w, product p
			        WHERE s.ware_code = w.ware_code
			        AND s.pro_code = p.pro_code
			        AND w.ware_state = 1
			        AND p.pro_state = 1
			        AND p.pro_name LIKE '%'||#{ssKeyword}||'%'
			        ORDER BY s.pro_code, s.ware_code
			        )
				)
			WHERE rnum >= #{start}
			AND rnum <= #{end}
		]]>
	</select>

</mapper>